body {

background-color:
#fa64e3;

background-image: url('https://i.imgur.com/emySSUo.jpg');

background-position: 400px 10px;

background-size: 500px 500px;

font-weight: bolder;
}

h1{
  color: black;
  display: table;
}
