body {

background-color:
#fa64e3;

background-image: url('https://i.imgur.com/emySSUo.jpg');

background-position: 650px 500px;

background-size: 1800px 1800px;

font-weight: bolder;
}

h1{
  color: #735e71;
  background-color: black;
  display: table;
}
